html, .cajaVertical, .cajaHorizontal{display: flex;}
html{height: 100%;}
body.index
{
  margin: auto;
  width: 100%;
}
.cajaVertical, .cajaHorizontal
{
  align-items: center;
  justify-content: center;
}
.cajaVertical{flex-flow: column nowrap;}
.cajaHorizontal{flex-flow: row nowrap;}
body
{
  margin: 0%;
  width: 100%;
}
header.cajaHorizontal, footer.cajaHorizontal
{
  flex-flow: row wrap;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.bloqueVertical{height: 20px;}
.bloqueHorizontal{width: 20px;}
.project
{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
@media(max-width: 768px)
{
  .vertical
  {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 1024px)
{
  header.cajaHorizontal, footer.cajaHorizontal
  {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
}